.about-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
}
.about-text {
  width: 90%;
}
.about-photo {
  width: 95%;
  margin-bottom: 2.5em;

}
/* MQ */
@media (min-width:900px) {
    .about-container {
      grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1024px) {
    .about-text {
      padding: 0 1em;
    }
}

