.about-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
}
.about-text {
  width: 90%;
}
.about-photo {
  width: 95%;
  margin-bottom: 2.5em;

}
/* MQ */
@media (min-width:768px) {
    .about-container {
      grid-template-columns: 1fr 1fr;
    }
}

