.contact-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}
.contact-text {
  width: 90%;
  margin-bottom: 1em;
}
.contact-photo {
  width: 93%;
  margin-bottom: 2.5em;
}

@media (min-width: 900px){
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}