.contact-container {
  width: 95%;
  margin-bottom: .5em;
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-image {
  width: 100%;
}
.contact-text p {
  margin-top: .1em; 
  text-align: start;
}
.contact-text h5 {
  margin-bottom: .2em;
}


@media (min-width: 1025px){
  .contact-container {
    width: 100%;
    padding: 1.5em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .contact-image{
    width: 45%;
  }
  .spacing {
    line-height: 1em;
  }
}