.contact-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
}
.contact-text {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-photo {
  width: 95%;
  margin-bottom: 2.5em;
}

@media (min-width: 768px){
  .contact-container {
    grid-template-columns: 1fr 50%;
    column-gap: normal;
  }
  
}