.footer-container {
  height: 8vh;
  width: 100%;
  padding: 0 .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  background-color: #adb5bd;
  color: #b804b8;
}
.footer-text {
  margin: auto 0;
  font-size: 1.5em;
}
.footer-social-box {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
}
.log-icons {
  margin: 0 .4em;
}

