.nav-container {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  background-color: #adb5bd;
  opacity: .7;
}
.brand-headline { 
  width: 100%;
  height: 8vh;
  display: flex;
  flex-flow: column;
  font-size: 1.2em;
}
.star {
  display: none;
}
@media (min-width:575px){
  .brand-headline {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
  }
  .star {
    display: block;
  }
}
.navbar-nav {
  font-family: monospace;
  padding: 0 .3em;
}
.navbar-light .nav-logo .navbar-toggler-icon  {
  background-image: url("../assets/logo-pink.png"); 
  font-size: 38px;
}
.text-brand {
  color: #b804b8;
  padding: 0 .3em;
}





