.nav-container {
  width: 100%;
  font-family: 'Dancing Script', cursive;
  /* background-color: lightgray; */
  opacity: .7;
}
.brand-headline { 
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  font-size: 1.4em;
}
.star {
  display: none;
}
.hide {
  display: none;
}
@media (min-width:575px){
  .brand-headline {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.8em;
  }
  .star {
    height: 100%;
    width: auto;
    display: block;
    margin: auto 0;
    font-size: .8em;
  }
  .hide {
    display: block;
  }
}
.navbar-nav {
  font-family: monospace;
  padding: 0 .3em;
}
.navbar-light .nav-logo .navbar-toggler-icon  {
  background-image: url("../assets/logo-pink.png"); 
  font-size: 40px;
}
.text-brand {
  color: #b804b8;
  padding: 0 .1em;
}





