.practice-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr 1fr 18%;
  row-gap: 1em;
}
.practice-text, .practice-dates {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.practice-photo {
  width: 95%;
  /* align-self: stretch; */
  margin-bottom: 2.5em;
}