.practice-container { 
  width: 100%;
  padding: 1em 1.5em;
  margin-bottom: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.practice-text-box  {
  width: 95%;
  margin-bottom: .5em;
}
.practice-text-box p {
  text-align: justify;
}
.practice-dates p {
  margin-bottom: .5em;
}
.space {
  margin-top: 1em;
}
.practice-photo {
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) {
  .practice-text-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
  }
  .practice-text {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .practice-dates {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .practice-photo {
    width: 95%; 
  }
}