.wine-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 50%;
  row-gap: 2em;
}
.wine-text {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wine-photo {
  width: 95%;
  margin-bottom: 2.5em; 
}

/* MQ */
@media (min-width:600px){
    .about-photo {
      width: 87%;
  }
}