.integral-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
}
.integral-text {
  width: 90%;

}
.integral-photo {
  width: 93%;
  height: auto;
  margin-bottom: 2em;
}
@media (min-width: 900px) {
  .integral-container {
    grid-template-columns: 1fr 1fr;
  }

}