.integral-container {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 50%;
  row-gap: 1em;
}
.integral-text {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integral-photo {
  width: 95%;
  margin-bottom: 2.5em;
}